<!doctype html>
<html>
<head>
    <!doctype html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <title>iThink Labs.</title>


</head>
<body>
<section>
    <div class="topnav" id="myTopnav">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="/imagenes/logo.png" height="65px" width="200" style="margin-top: 5px;"/>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="../consultorias/home" class="active">Inicio</a>
                <a href="../consultorias/services">Servicios</a>
                <a href="#contact">Contactos</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

    </div>
</section>
<section>
    <div data-aos="fade-up" >

        <div class="row CoverImage">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card text-center card1" style="background-color: transparent; margin-top: 20px">
                    <div class="card-body" style="background: rgba(0,0,0,0.41);padding: 40px 35px;min-width: 350px; height: 700px; display: inline-block">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <h5 class="card-title card-title1 "
                            style="font-weight: bold; font-size: 60px;color: white;margin-top: 50px">Desarrollo de
                            Software a la medida</h5>
                        <h2 style="font-weight: bold; font-size: 25px;color: rgba(255,188,13,0.65)">Aprovecha la
                            tecnología para mejorar tu
                            negocio y da un salto de calidad en el mercado</h2>
                        <h1 style="font-weight: bold; font-size: 20px;color: rgba(255,188,13,0.65)">Desarrollo de
                            aplicaciones webs y
                            móviles</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section>

    <br>
    <div data-aos="fade-right" >
        <div class="row" style="justify-content: center; text-align: center; margin: 25px" >
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/qua.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8;justify-content: center;text-align: center ;font-weight: bold">Software de
                    calidad
                    que utiliza las últimas tecnologías del mercado.
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/sui.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8; font-weight: bold">Adapta la tecnología a tu negocio y da un salto en el
                    mercado.
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/trust.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8; font-weight: bold">Confía en las ventajas de la tecnología y mejora la
                    productividad
                    de tu negocio
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <br>
    <div data-aos="fade-up">
        <div id="cover1">
            <div class="row CoverImage1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card text-center card1" style="background-color: transparent">
                        <div class="card-body"
                             style="background: rgba(0,0,0,0.41); width: 100%;height: 700px; display: inline-block">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <h5 class="card-title card-title1 "
                                style="font-weight: bold; font-size: 60px;color: white;margin-top: 50px">Diseño Hidrosanitario</h5>
                            <h2 style="font-weight: bold; font-size: 25px;color: rgb(255,188,13)">Garantiza la salud y el comfort de las personas</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <br>
    <div data-aos="fade-right" >
        <div class="row" style="justify-content: center; text-align: center; margin: 25px" >
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/cad.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8;justify-content: center;text-align: center ;font-weight: bold">Contamos con las mejores herramientas de diseño del mercado.
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/qua.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8; font-weight: bold">Cumplimiento de todas las normativas y estándares de calidad.
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="/imagenes/seg.png" height="70" width="70" style="margin-top: 5px"/>
                <br>
                <br>
                <div style="color: #0035a8; font-weight: bold">Brida seguridad, aaaaaa y comfort a las personas.
                </div>
            </div>

        </div>
    </div>
    <br>

</section>
<section>
    <!-- Footer -->
    <footer id="footer" class="font-small" style="background-color: #002393;bottom: 0px; height: 65px">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white;padding-top: 10px; margin-top: 60px; font-weight: bold">
            iThink Labs - 2020
        </div>
        <!-- Copyright -->
    </footer>
</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
