<!doctype html>
<html>
<head>
    <!doctype html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <title>iThink Labs.</title>
    <style>

        .card-footer{
            color: #000000;
            background-color: rgba(21, 124, 168, 0.2);
            font-weight: bold;
            border-color: rgba(21, 124, 168, 0.3);
        }
        .text1{
            color: rgb(21, 124, 168);

        }
        .card{
            border: solid 1px black;
        }



    </style>

</head>
<body>
<section>
    <div class="topnav" id="myTopnav">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="/imagenes/logo.png" height="65px" width="200" style="margin-top: 5px;"/>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="../consultorias/home">Inicio</a>
                <a href="../consultorias/services" class="active">Servicios</a>
                <a href="../consultorias/contacts">Contactos</a>

            </div>
        </div>

    </div>
</section>
<section>

    <div class="card-group card1" >
                <div class="card ">
                    <img src="/imagenes/des.jpg" class="card-img-top" alt="..." style="width: 100%; height: 400px">
                    <div class="card-body" style="justify-content: center">
                        <h5 class="card-title" style="text-align: center">Desarrollo de software</h5>
                    </div>
                    <div class="card-footer">


                        <img src="/imagenes/wd.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Desarrollo de aplicaciones y páginas webs
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/mde.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Desarrollo de aplicaciones móviles híbridas y
                            nativas
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/cap.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Capacitaciones para el desarrollo de
                            aplicaciones
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/capte.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Capacitaciones para la integración de la
                            tecnología en tu empresa
                        </small>

                    </div>
                </div>
            </div>

</section>

<section>

            <div class="card-group" >
                <div class="card">
                    <img clas src="/imagenes/pl.jpg" class="card-img-top" alt="..." style="width: 100%; height: 400px">
                    <div class="card-body" style="justify-content: center">
                        <h5 class="card-title" style="text-align: center">Obra Civil</h5>
                    </div>
                    <div class="card-footer">


                        <img src="/imagenes/dih.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Diseño Hidrosanitario
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/ol.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Obra lineal
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/pr.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Presupuestos
                        </small>

                    </div>
                    <div class="card-footer">
                        <img src="/imagenes/capte.png" style="width: 25px; height: 25px">
                        <small class="text1" style="font-size: 15px">Capacitaciones
                        </small>

                    </div>
                </div>
            </div>

</section>

<section>
    <!-- Footer -->
    <footer id="footer" class="font-small" style="background-color: #002393;bottom: 0px; height: 65px">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"
             style="color: white;padding-top: 10px; margin-top: 60px; font-weight: bold">
            iThink Labs - 2020
        </div>
        <!-- Copyright -->
    </footer>
</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
